@media (max-width:576px){
   .col-xs-1{
	  flex:0 0 auto;
	  width:8.33%;
    }
   .col-xs-2{
	  flex:0 0 auto;
	  width:16.66%;
	}
   .col-xs-3{
	  flex:0 0 auto;
	  width:25%; 
    }
   .col-xs-4{
	  flex:0 0 auto;
	  width:33.33%;	  
	}
   .col-xs-5{
	  flex:0 0 auto;
	  width:41.66%;  
    }
   .col-xs-6{
	  flex:0 0 auto;
	  width:50%;	 
    }
   .col-xs-7{
	  flex:0 0 auto;
	  width:58.33%;  
    }
   .col-xs-8{
	  flex:0 0 auto;
	  width:66.66%;
    }
   .col-xs-9{
	  flex:0 0 auto;
	  width:75%;
	  
    }
   .col-xs-10{
	  flex:0 0 auto;
	  width:83.33%;
	  
    }
   .col-xs-11{
	  flex:0 0 auto;
	  width:91.66%;  
    }
   .col-xs-12{
	  flex:0 0 auto;
	  width:100%;
    }
	.header-info{
		padding:15px 0;
	}
	.d-xs-none{
		display:none !important;
	}
	.contact-info span{ font-size:12px;
	 margin-left:20px;
	}
	.banner-content{ 
     width:100%;
    }
	.banner-content h1{ 
	font-size:34px;
	margin-bottom:12px;
	}
	.banner-content p{ 
	font-size:17px;
	}
	.choose-item{ 
	margin-top:20px;
	min-height:auto;
	}
	.abt-img {
		height:400px;
	
	}
	.about{
		padding:20px 0 30px 0;
	}
	.img-content{ 
	    padding:10px 0px;
    }
	.team-content{
		margin-bottom:20px;
	}
	.box-2{
		padding:0 0;
	}
	.contact-box {
		padding:0 0;
	}
	.footer-sec{
		padding:0 0;
	}
	.flast-section{
		text-align:center;
	}
	.footer{ display:flex;
     justify-content:center;
     margin:10px;
    }
}
@media (min-width:576px){
	.container{
		width:550px;
	}
    	.col-sm-1{
	  flex:0 0 auto;
	  width:8.33%;
	
}
.col-sm-2{
	  flex:0 0 auto;
	  width:16.66%;
	  
}
.col-sm-3{
	  flex:0 0 auto;
	  width:25%;
	 
}
.col-sm-4{
	  flex:0 0 auto;
	  width:33.33%;
	  
}
.col-sm-5{
	  flex:0 0 auto;
	  width:41.66%;
	  
}
.col-sm-6{
	  flex:0 0 auto;
	  width:50%;
	 
}
.col-sm-7{
	  flex:0 0 auto;
	  width:58.33%;
	  
}
.col-sm-8{
	  flex:0 0 auto;
	  width:66.66%;

}
.col-sm-9{
	  flex:0 0 auto;
	  width:75%;
	  
}
.col-sm-10{
	  flex:0 0 auto;
	  width:83.33%;
	  
}
.col-sm-11{
	  flex:0 0 auto;
	  width:91.66%;
	  
}
.col-sm-12{
	  flex:0 0 auto;
	  width:100%;
	  
}
}
@media (min-width:768px){
	.container{
		width:720px;
	}
	.col-md-1{
	  flex:0 0 auto;
	  width:8.33%;
	
}
.col-md-2{
	  flex:0 0 auto;
	  width:16.66%;
	  
}
.col-md-3{
	  flex:0 0 auto;
	  width:25%;
	 
}
.col-md-4{
	  flex:0 0 auto;
	  width:33.33%;
	  
}
.col-md-5{
	  flex:0 0 auto;
	  width:41.66%;
	  
}
.col-md-6{
	  flex:0 0 auto;
	  width:50%;
	 
}
.col-md-7{
	  flex:0 0 auto;
	  width:58.33%;
	  
}
.col-md-8{
	  flex:0 0 auto;
	  width:66.66%;

}
.col-md-9{
	  flex:0 0 auto;
	  width:75%;
	  
}
.col-md-10{
	  flex:0 0 auto;
	  width:83.33%;
	  
}
.col-md-11{
	  flex:0 0 auto;
	  width:91.66%;
	  
}
.col-md-12{
	  flex:0 0 auto;
	  width:100%;
	  
}
	.banner-content p{ 
	font-size:16px;
	}
	.abt-img {
		height:550px;
        margin-bottom: 30px;
	}
	
}
 @media (min-width:576px) and (max-width:768px){
	 .d-md1-none{
		 display:none !important;
	 }
 }

@media (max-width:992px){
	.d-md-block{
		display:block !important;
	}
	.d-md2-none{
		display:none !important;
	}
	.d-md-none{
		display:none !important;
	}
	.contact-info span{ font-size:16px;
	 margin-left:20px;
	}
	.banner-content{ 
     width:100%;
    }
	.choose-item{ 
	margin-top:20px;
	min-height:auto;
	}
	.banner-content h1{ 
	font-size:28px;
	line-height:30px;
	}
	.about{
		padding:20px 0 30px 0;
	}
	.team-content{
		margin-bottom:20px;
	}
	.box-2{
		padding:0 0;
	}
	.contact-box {
		padding:0 0;
	}
	.contact-text p {
    font-size: 18px;
    padding-right: 80px;
	}
	.footer-sec{
		padding:0 0;
	}
	.flast-section{
		text-align:center;
	}
	.footer{ display:flex;
     justify-content:center;
     margin:10px;
    }
}
@media (min-width:992px){
	.container{
		width:950px;
	}
	.d-lg-block{
	display:block !important;
}
   .d-lg-none{
	display:none !important;
}
}
@media (min-width:1200px){
	.container{
		width:1170px;
	}
	.col-lg-1{
	  flex:0 0 auto;
	  width:8.33%;
	
}
.col-lg-2{
	  flex:0 0 auto;
	  width:16.66%;
	  
}
.col-lg-3{
	  flex:0 0 auto;
	  width:25%;
	 
}
.col-lg-4{
	  flex:0 0 auto;
	  width:33.33%;
	  
}
.col-lg-5{
	  flex:0 0 auto;
	  width:41.66%;
	  
}
.col-lg-6{
	  flex:0 0 auto;
	  width:50%;
	 
}
.col-lg-7{
	  flex:0 0 auto;
	  width:58.33%;
	  
}
.col-lg-8{
	  flex:0 0 auto;
	  width:66.66%;

}
.col-lg-9{
	  flex:0 0 auto;
	  width:75%;
	  
}
.col-lg-10{
	  flex:0 0 auto;
	  width:83.33%;
	  
}
.col-lg-11{
	  flex:0 0 auto;
	  width:91.66%;
	  
}
.col-lg-12{
	  flex:0 0 auto;
	  width:100%;
	  
}

}
@media (min-width:1400px){
	.container{
		width:1320px;
	}
}