.container{
	width:1170px;
	margin:0 auto;
	padding:0 15px;
}
.row{
	display:flex;
	flex-wrap:wrap;
	margin-left:-15px;
	margin-right:-15px;
}

.row>*{
	padding:0 15px;
	width:100%;
}

.align-item-center{
	align-items:center;
}

.col-lg-1{
	width:8.33%;
	padding:0 15px;
}
.col-lg-2{
	width:16.66%;
	padding:0 15px;
}
.col-lg-3{
	width:25%;
	padding:0 15px;
}
.col-lg-4{
	width:33.33%;
	padding:0 15px;
}
.col-lg-5{
	width:41.66%;
	padding:0 15px;
}
.col-lg-6{
	width:50%;
	padding:0 15px;
}
.col-lg-7{
	width:58.33%;
	padding:0 15px;
}
.col-lg-8{
	width:66.66%;
	padding:0 15px;
}
.col-lg-9{
	width:75%;
	padding:0 15px;
}
.col-lg-10{
	width:83.33%;
	padding:0 15px;
}
.col-lg-11{
	width:91.66%;
	padding:0 15px;
}
.col-lg-12{
	width:100%;
	padding:0 15px;
}
/*========root==========*/
:root{
	--primary-color:#00bcd4;
	--secondary-color:#333333;
	--white:#fff;
}
/*========btn constant======*/
.btn{ display:inline-block;
	text-decoration:none;
	color:white;
	padding-left:30px;
	padding-right:30px;
	text-align:center;
	background-color:#ff5821;
}
/*========Header======*/

.header-info{
	background-color:#39312f;
	
}  
.content-info span{
	display:inline-block;
	color:#fff;
	font-size:18px;
	margin-right:10px;
	padding-top:16px;
	font-family: "Open Sans", sans-serif;
}
.content-info span > a{
	color:#fff;
	text-decoration:none;
	
}
.content-info a:hover{
	color:#00bcd4;
}
.content-info span i{
	color:#00bcd4;
	margin-right:5px;
}
/*============style=============*/
.info-btn{
	background-color:#00bcd4;
	padding-top:15px;
	padding-bottom:15px;
}
.info-btn>a{ color:white;
	text-decoration:none;
	font-family: 'Raleway', sans-serif;
}
.text-left{
	text-align:left !important;
}
.text-center{
	text-align:center !important;
}
.text-right{
	text-align:right !important;
}
.text-justify{
	text-align:justify !important;
}
/*=========style=============*/
.logo >a{
	display:inline-block;
	color:#000;
	font-size:35px;
	text-decoration:none;
	font-weight:600;
	font-family: 'Raleway', sans-serif;
}
.navication-info{
	padding:10px 0;
	
}
.menubar{
	display:flex;
    justify-content:flex-end;
	font-family: 'Raleway', sans-serif;
}
.menubar .nav-link a{
	display:block;
	text-decoration:none;
	color:#635551;
	font-size:14px;
	padding:8px 15px;

}
.menubar .nav-link a:hover{
	color:#00bcd4;
}
.menubar .nav-link a.active{
	color:#00bcd4;
}
/*=========banner=======*/
.banner{                     
	background-image:linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url("../image/hero-bg.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	padding:220px 0;
	margin-bottom:-150px;
}
.banner-info{
	width:60%;	
}
.banner-info h1{
	font-size:55px;
	font-family: 'Raleway', sans-serif;
	color:#fff;
	margin-bottom:15px;
}
.banner-info p{
	font-size:20px;
	color:#eee;
	margin-bottom:40px;
	font-family: 'Raleway', sans-serif;
}
.banner-btn{
	position:relative;
	display:inline-block;
	padding:10px 0; 
}
.banner-btn a.btn{
	border-radius:25px;
	background-color:#333333;
	padding-left:60px;
	line-height:35px;
}
.banner-btn a.btn:hover{  
    
	background-color:#00bcd4;
}
.banner-btn >i{
	position:absolute;
	left:0;
	top:3px;
	background-color:var(--primary-color);
	width:50px;
	height:50px;
	text-align:center;
	line-height:50px;
	color:var(--white);
	border-radius:50%;
}
/*------choose-------*/
.choose-sec{
	padding:20px 0;	
}
.choose-info{ 
	color:white;
	background-color:#00bcd4;
    padding:30px 20px;
    height:100%;
	border-radius:5px;
}
.choose-info h1{
	font-size:30px;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	margin-bottom:20px;
}
.choose-info p{
	font-size:20px;
	font-family: 'Raleway', sans-serif;
	padding-bottom:30px;

}
.choose-info a{
    padding: 10px 40px;
    background-color: #3333331a;
    margin-left: 90px;
	border-radius: 20px;
	text-decoration:none;
	color:white;	
}
.choose-info a:hover{
	color:#00bcd4;
	background-color:white;
}
.choose-info a i{
	margin-left:10px;
}
.choose-items{
	background-color:white;
	height:330px;
	border-radius:10px;
	padding:30px 20px;
	box-shadow:0 5px 6px #9e9e9e24;
}
.choose-items i{
	color:#00bcd4;
	margin-left:80px;
	font-size:30px;
	margin-bottom:30px;
	margin-top:20px;
	
}
.choose-items h1{
	font-size:20px;
	font-family: 'Raleway', sans-serif;
	text-align:center;
	margin-bottom:30px;
	font-weight:bold;
}
.choose-items p{
	color:gray;
	font-size:15px;
	font-family: 'Raleway', sans-serif;
	text-align:center;
	line-height:1.5;	
}
/*-------about-------*/
  .abt-section{
	 background-color:#3a89930f;
      padding:60px 0;
  }
  .abt-img{
	  background-image:url('../image/about-img.jpg');
	  background-size:cover;
	  background-position:center;
	  background-repeat:no-repeat;
	  position:relative;
	  justify-content:center;
	  align-items:center;
  }
  .about-icon{
	  background-color:#00bcd4;
	  width:70px;
	  height:70px;
	  border-radius:50%;
	  text-align:center;
	  line-height:50px;
	  font-size:30px;
	  color:#fff;
	  margin-top:300px;
	  margin-left:200px;
	  
  }
  .about-icon i{ 
  color:white;
  padding:20px 25px;
  }
  .about{
	  padding:20px 0 30px 40px;
  }
  .about h4{
	  color:#999;
	  font-size:18px;
	  font-family:'Raleway', sans-serif;
	  margin-bottom:20px;
  }
  .about h1{
	  font-size:26px;
	  font-weight:bold;
	  font-family:'Raleway', sans-serif;
	  margin-bottom:30px;
  }
  .about p{ font-size:15px;
  font-family:'Raleway', sans-serif;
  line-height:22px;
  }
  
  .abt{
	  display:flex;
	  margin-top:50px;
	  align-items:flex-start;
  }
  .abt .abt-icon{
	  width:55px;
	  height:55px;
	  border-radius:50%;
	  border:solid 1px #00bcd4;
	  background-color:#fff;
	  color:#00bcd4;
	  text-align:center;
	  line-height:50px;
	  font-size:25px;
	  flex:0 0 auto;  
}
.abt .abt-icon:hover{
	background-color:#00bcd4;
	color:#fff;
}
.abt-icon i{ font-size:35px;
padding-top:10px;
}
.abt .abt-text{
	padding-left:20px;
	
}  
.abt-text h3{
	  font-size:20px;
	  font-family:'Raleway', sans-serif;
	  margin-bottom:10px;
	  font-weight:bold;
  }
  .abt-text{
	  margin-bottom:15px;
	  color:#333333;
	  
  }
  .abt-text p{ font-size:16px;
  font-family:'Raleway', sans-serif;
  line-height:20px;
  }

/*---------logo--------*/
.logo-section{
	padding:50px 0;
}
.logo-content{
	padding:20px 30px;
}
.logo-content img{
	width:100%;
	height:40px;
	filter:grayscale(100%);
	opacity:0.5;
}
.logo-content:hover img{
	filter:grayscale(0%);
	opacity:1;
}
.circle{
	text-align:center;
	padding:20px 0;
}
.circle span{
	display:inline-block;
	width:10px;
	height:10px;
	border-radius:50%;
	border:solid 1px var(--primary-color);
	background-color:#fff;
	opacity:o.5;
	cursor:pointer;
	margin:0 2px;
}
.circle span:hover{
	background-color:var(--primary-color);
}
.circle span.active{
	background-color:var(--primary-color);
}

/*--------service Style ------*/
.service-sec{ background-color:#3a89930f;
padding:60px 0;
}
.service-title{ 
        text-align:center;
}
.service-title h2{ color:black;
margin-bottom:20px;
font-size:30px;
 font-family:'Raleway', sans-serif;
}
.service-title p{ 
	 margin-bottom:40px;
	 font-family:'Raleway', sans-serif;
	 line-height:1.5;
}

.service-content{ background-color:white;
margin-top:60px;
position:relative;
padding:45px 20px 30px; 
box-shadow:0 0 8px #ccc;
text-align:center;
min-height:180px;
 font-family:'Raleway', sans-serif;
} 
.service-content h3{
	margin-bottom:20px;
	font-size:15px;
	font-weight:600;
}
.service-content p{
	font-size:12px;
	line-height:2;
}
.service-icon { 
  position:absolute;
  top:-30px;
  left:50%;
  width:60px;
  height:60px;
  text-align:center;
  line-height:60px;
  color:#fff;
  font-size:32px;
  z-index:1;
  transform: translateX(-50%);
}
.service-icon :after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 30px;
    background-color: #00bcd4;
    border-radius: 50%;
    z-index:-1;
    transition: all 0.3s ease;
}
 .service-content h3 a{
   text-decoration:none;	 
   font-size:20px;
   color:#000;
   margin-bottom:30px;
 }
  .service-content:hover .service-icon {
	  color:#00bcd4;
		
  }
 .service-content:hover .service-icon :after{ transform:scale(1.2);
 color:white;
 background-color:white;
 border:solid 1px #00bcd4;
 }
 .service-content:hover h3 a{ 
	color:#00bcd4;
 }

/*--------boxes section------*/
.boxes-section{ 
	padding:60px 0;
	background-color:white;
	
}

.boxes-img1{
	background-image:url("../image/values-1.jpg");	
}
.box{
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	border-radius:5px;
}
.boxes-content{
	padding:180px 15px 20px 15px;
}
.boxes-img2{
	background-image:url("../image/values-2.jpg");
}
.boxes-img3{
	background-image:url("../image/values-3.jpg");
}
.boxes-img4{
	background-image:url("../image/values-4.jpg");
}
	
.data1{
	border-radius:2%;
	background-color:white;
	padding:10px;
	opacity:0.9;
}
.box:hover .data1{
	background-color: #00bcd4;
	color:white;	
}
.box a:hover{
	color:white;
	text-decoration:underline:
}

.data1 h1{
	font-size:18px;
	text-align:center;
	font-family:'Raleway', sans-serif;
	padding-top:10px;
	font-weight:600;
	cursor:pointer;
	
}
.data1 p{
	font-size:14px;
	font-family:'Raleway', sans-serif;
	margin:20px;
	line-height:1.5;
	
}
.data1 a{
	text-decoration:none;
	font-size:10px;
	margin-left:20px;
	color:black;
}
.data1 a:hover{
	color:white;
	text-decoration:underline;
}
/*--------image style------*/
.image-section{
	background-image:linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("../image/testimonials-bg.jpg");
	background-size:cover;
	background-repeat:no-repeart;
	background-position:center;
	padding:80px 0;
	margin:40px 0;
}
.content{
	text-align:center;
}
.content h1{
	font-size:18px;
	margin-top:20px;
	color:white;
	font-family:'Raleway', sans-serif;
	font-weight:600;
}
.content h4{
	font-size:20px;
	margin-top:10px;
	color:white;
	font-family:'Raleway', sans-serif;
}
.content p{
	font-size:14px;
	margin-top:20px;
	color:white;
	font-style:italic;
	font-family:'Raleway', sans-serif;
	line-height:2;

}
.content img{
	width:80px;
	border-radius:50%;
	box-shadow:0 0 0 6px #eeeeee2b;
}
.circle1{
	text-align:center;
	padding:20px 0;
}
.circle1 span{
	display:inline-block;
	width:12px;
	height:12px;
	border-radius:50%;
	background-color:#ffffff82;
	cursor:pointer;
	margin:0 2px;
}
.circle1 span:hover{
	background-color:var(--primary-color);
}
.circle1 span.active{
	background-color:var(--primary-color);
}
/*--------Portfolio------*/
.portfolio-section{
	padding:80px 0;
}
.portfolio-title{ 
	text-align:center;
	line-height:4;
}
.portfolio-title h1{
	font-size:30px;
    font-family:'Raleway', sans-serif;
	font-weight:600;
	
}
.portfolio-title p{
	font-size:15px;
	line-height:1.5;
	font-family:'Raleway', sans-serif;
	color:gray;
}
.options{
	padding:15px;
}
.options span a{ 
    display:block-inline;
	text-align:center;
	text-decoration:none;
	font-family:'Raleway', sans-serif;	
	border-radius:20px;
	margin:0 5px;
	font-size:14px;
	font-weight:600;
	color:black;
	padding:6px 10px;
}
.options span a:hover{
	background-color:#00bcd41a;
	color:#00bcd4;
}
.options span  a.active{
	background-color:#00bcd41a;
	color:#00bcd4;
}
img{
	width:100%;
	margin-top:20px;	
}
.portfolio-content{
	position:relative;
	overflow:hidden;
	margin:10px 0;
}
.portfolio{
	position:absolute;
	left:15px;
	right:15px;
	bottom:15px;
	background-color:white;
	padding:10px;
	line-height:1.5;
	font-family:'Raleway', sans-serif;
	opacity:0;
	display:flex;
	justify-content:space-between;
	transform:translateY(20px);
	visibility:hidden;
	transition: all 0.5s ease;
}
.portfolio-content h3{
	font-size:18px;
	
}
.portfolio-info p{
	font-size:14px;
}
.portfolio-content:hover .portfolio{
	opacity:1;
	transform:translateY(0px);
	visibility:visible;
	
}
.portfolio-icon{
	font-size:20px;
	padding:10px;
}
.portfolio-icon i{
	color:black;
	margin-left:10px;
}
.portfolio-icon i:hover{
	color:#00bcd4;
	
}
/*---------team section--------*/
.team-section{
	background-color:#3a89930f;
	padding:50px 0;
}

.team-title{
	text-align:center;
}
.team-title h3{
	font-size:30px;
	font-weight:600;
	font-family:'Raleway', sans-serif;
	line-height:2.5;
}
.team-title p{
	font-size:14px;
	font-family:'Raleway', sans-serif;
	line-height:1.5;
	margin-bottom:40px;
}
.team-content{
	position:relative;
	border-radius:2%;
	overflow:hidden;
}
.team-icon{
	position:absolute;
	left:0;
	right:0;
	bottom:80px;
	background-color:#ffffffd1;
	padding:10px;
	text-align:center;
	opacity:0;
	
}
.team-icon i{
	margin:0 10px;
    color:black;	
}
.team-icon a i:hover{
	color:#00bcd4;
	
}
.team-content:hover .team-icon{
	opacity:1;
}
.team-details{
	text-align:center;
	padding:20px;
	background-color:white;
	line-height:1.5;
	font-family:'Raleway', sans-serif;
	box-shadow:0 0 8px #ccc;
}
.team-details h3{
	font-size:16px;
	font-weight:600;
}
.team-details p{
	font-size:12px;
}
.team-content img{
	display:block;
}
/*----------pricing---------*/
.pricing-section{
	padding:40px 0;
}
.pricing-title{
	text-align:center;
	
}
.pricing-content{
	text-align:center;
	box-shadow:0 0 9px #ccc;
	position:relative;
	overflow:hidden;
	border-radius:2%;

}
.pricing-title h1{
	font-size:30px;
	line-height:3;
	font-family:'Raleway', sans-serif;
}
.pricing-title p{
	font-size:15px;
	line-height:1.5;
	font-family:'Raleway', sans-serif;
	margin-bottom:30px;
}
.pricing-off h4{
	padding:20px;
	background-color:#f8f8f8;
	font-family:'Raleway', sans-serif;
}
.pricing-off h3{
	padding:20px;
	background-color:#00bcd4;
	font-family:'Raleway', sans-serif;
	color:white;
	box-shadow:0 2px 9px #00bcd457;
}
.discount{
	position:absolute;
	top:16px;
	right:-40px;
	padding:10px ;
	background-color:#00bcd4; 
	transform:rotate(50deg);
	text-align:center;
	color:white;
	font-family:'Raleway', sans-serif;
	font-size:14px;
}
.discount h4{ 
	padding:0 25px;
}
.pricing-details{
	margin:10px 20px;
	background-color:white;
	line-height:2.5;

}
.pricing-details h3{
	font-size:30px;
	color:#00bcd4;
	font-family: "Open Sans", sans-serif;
}
.pricing-details h3 span{
	color:gray;
	font-size:16px;
	font-family:'Raleway', sans-serif;
}
.pricing-details p{
	font-size:12px;
	font-family:'Raleway', sans-serif;
}
del{
	color:gray;
}
.pricing-details h3 sup{
	font-size:20px;
	right:5px;
	top:-15px;
}
sup{
	position:relative;
}
.pricing{
	padding:26px;
	background-color:#f8f8f8;
	
}
.pricing a{
	text-decoration:none;
	background-color:#00bcd4;
	color:white;
	font-family:'Raleway', sans-serif;
	font-size:14px;
	padding:10px 20px;
	border-radius:6%;
	box-shadow:0 2px 9px #00bcd457;
}
.pricing a:hover{
	opacity:0.7;
}
/*----------faq section------*/
.faq-section{
	padding:40px 0;
	background-color:#3a89930f;
}
.faq-title{
	text-align:center;
	font-family:'Raleway', sans-serif;
}
.faq-title h1{
	font-size:30px;
	line-height:2;
}
.faq-title p{
	font-size:15px;
	line-height:1.5;
	color:gray
}
.column{
	flex-direction:column;
	padding:0 60px;
}
.box{
	background-color:white;
	margin:30px;
	padding:15px 0 15px 10px;
	font-family:'Raleway', sans-serif;
	box-shadow:0 2px 3px #fff;
	display:flex;
	justify-content:space-between;

}
.box-content a{
	text-decoration:none;
	color:black;
}
.box a i{
	padding-right:10px;
	color:#00bcd4;
}
.box-icon a i{
	padding-right:20px;
	color:black;
}
.box:hover a{
	color:#00bcd4;
}
.box:hover i{
	color:#00bcd4;
}
/*------content-section--------*/
.contact-section{
	padding:60px 0;	
}
.contact-section .row{
	padding:0 116px;
}
.contact-title{
	text-align:center;
	font-family:'Raleway', sans-serif;
}
.contact-title h1{
	font-size:28px;
	line-height:80px;
}
.contact-title p{
	font-size:16px;
	line-height:1.5;
	color:gray;
}

.contact-content{
	background-color:white;
	padding:15px 0;
	margin:10px;
	display:flex;
	font-family:'Raleway', sans-serif;
	box-shadow:0 1px 14px #ccc;
	
}
.contact-icon{
	font-size:26px;
	color:#00bcd4;
	width:50px;
	height:50px;
	border:dotted 1px #00bcd4;
	border-radius:50%;
	text-align:center;
	line-height:50px;
	margin-left:15px;
}
.contact{
	padding-left:30px;	
}
.contact h1{
	font-size:20px;
	font-weight:600;
	line-height:2;
}
.contact p{
	font-size:14px;
	line-height:1.5;
	font-family: "Open Sans", sans-serif;
}
.contact-content2{
	background-color:white;
	padding: 20px 20px;
    margin: 10px 110px;
	font-family:'Raleway', sans-serif;
	box-shadow:0 1px 14px #ccc;
	
}
.cont-name{
	display:flex;

}
.text1{
	width:49%;
	padding:15px;
	margin-bottom:20px;
}
.text2{
	width:49%;
	padding:15px;
	margin-left:20px;
	margin-bottom:20px;
}
.text3{
	padding:15px;
	width:100%;
	margin-bottom:20px;
	border:solid 1px gray;
	
}
.text4{
	width:100%;
	padding:25px;
	border:solid 1px gray;
	margin-bottom:20px;
	
}
.button a{
	padding:10px;
	text-decoration:none;
	background-color:#00bcd4;
	color:white;
	
}
.button a:hover{
	opacity:0.8;
}
.button{
	text-align:center;
	margin:15px 0;
}
.cont-name input:focus{
	border:solid 1px #00bcd4;
	outline:0;
}
.contact-2 input:focus{
	border:solid 1px #00bcd4;
	outline:0;
}
.contact-2 textarea:focus{
	border:solid 1px #00bcd4;
	outline:0;
}
/*----------link---------*/
.link-section{
	padding:50px 0;
	background-color:#3a89930f;
}
.link-content{
	font-family:'Raleway', sans-serif;
}
.address h1{
	font-size:25px;
	line-height:2;
}

.address p{
	font-size:14px;
	line-height:1.5;
	color:gray;
}
.link-info{
	padding-top:25px;
}
.link-info span{
	font-size:14px;
	font-weight:600;
	padding-right:10px;
	line-height:1.5;
	color:black;
}
.link-info p{												
	font-size:14px;
	color:gray;
}
.nav-link h3{
	font-weight:600;
	line-height:50px;
}
.nav-link a{
	text-decoration:none;
	line-height:2.5;
	font-size:14px;
	color:gray;
}
.nav-link i{
	color:#00bcd4;
	padding-right:10px;
}
.nav-link a:hover{
	color:#00bcd4;
}
.nav-link p{
	font-size:14px;
	line-height:1.5;
	color:gray;
}
.link-button{
	position:relative;
	background-color:white;
	padding:5px 0;
	border:solid 1px #00bcd4;
	border-radius:20px;
	margin-top:25px;
}
.link button{
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	background-color:#00bcd4;
	color:white;
	border:none;
	padding:0 12px;
	border-radius:20px;
	cursor:pointer;
}
.link input{
	border:none;
	padding:6px 0;
	margin-left:10px;
}

/*--------footer---------*/
.footer-section{
	padding:30px 0;
}
.footer{
	font-family:'Raleway', sans-serif;
	font-size:12px;
	line-height:2;
	color:gray;
}
.footer i{
	padding-right:5px;
}
.footer span{
	font-weight:600;
	color:black;
}
.footer a{
	text-decoration:none;
	color:red;
}

.logo1{
	text-decoration:none;
	display:flex;
	justify-content:flex-end;
}
.logo1 i{
	font-size:20px;
	padding:10px;
	background-color:#00bcd4;
	border-radius:50%;
	color:white;
	margin-right:5px;
}                                           
.logo1 i:hover{
	opacity:0.8;
}